[2019-10-01 09:54] mdolr opened #1 "Twitter integration"
Integration of twitter.com
- Preview profiles (out of twitter.com as twitter already handles profile previewing)
- Preview tweets (what they're responding to ? Media ?)

[2019-10-01 09:58] mdolr opened #2 "Wikipedia integration"
Integration of wikipedia.com
- Preview articles

Note: Use the page summary endpoint [docs](https://en.wikipedia.org/api/rest_v1/#/Page_content/get_page_summary_title).

[2019-10-01 10:00] mdolr opened #3 "Youtube integration"
Integration of youtube.com youtu.be
- Preview the video player using youtube's embed code

[2019-10-01 10:03] mdolr opened #4 "Reddit integration"
Integration of reddit.com
- Preview comments (done)
- Preview posts

Using reddit's embed code

[2019-10-01 10:15] mdolr opened #5 "Build a landing page to showcase the extension"
Build a simple and clean landing page (hosted through gh-pages) to showcase the extension

[2019-10-05 12:55] mdolr commented on #2
Integrated in #6

[2019-10-05 12:55] #2 closed, assigned to nobody

[2019-10-05 13:00] mdolr commented on #4
Help on integrating posts would be appreciated !

[2019-10-05 15:47] mdolr commented on #3
Integrated in #8

[2019-10-05 15:47] #3 closed, assigned to nobody

[2019-10-05 18:51] mdolr opened #9 "Extension icon + Color palette"
The project needs a graphic identity.
At least it needs an icon that can be clearly recognized so people can quickly change their options when needed without having to search for the extension for more than a minute if they have a lot of extensions already.

If you want to submit an icon it has to be compatible with the license (Apache 2.0) of the repository

[2019-10-05 19:17] pengyuejiang commented on #5
Hello! I am a participant of Hacktoberfest, and I'm interested in this task. Do you want a new file for the landing page, or simply edit the test.html?

[2019-10-05 19:20] mdolr commented on #5
Hello ! test.html has nothing to do with that and is only used to quickly test the extension internally.
When thinking of a landing page I was thinking of a single landing page that would be hosted through Github Pages (example: https://onepagelove.com/runlet (the first thing I found on google that showcased what I thought of)).

I'd suggest creating a folder "gh-pages" in which you put everything

[2019-10-05 19:34] mdolr opened #10 "Add youtube channels to the youtube integration"
Currently the youtube integration only works for videos since #8 .
Add the preview of channels in js/templates/youtube.js

You should make it so that you find a way to consistantly identify channel links and return the type of a link being channel in the checkLinkType function

You should inject the HTML elements needed to preview a channel when the link is hovered in the bindToNode function (plea

[2019-10-05 19:34] pengyuejiang commented on #5
OK, I see. So currently I have the extension in my browser installed, but I'm not sure how to use it yet. I will try to work on a prototype, I'm a beginner, so would you accept using some bit of bootstrap4?

[2019-10-05 19:36] mdolr commented on #5
I'd prefer not using a css framework but if you really need one I'd suggest bulma CSS
You can find all the docs at : https://bulma.io/ (it is very very similar to bootstrap but the class names are more explicit)

[2019-10-05 19:49] pengyuejiang commented on #5
Alright I see, how to actually use the extension though after I installed it?

[2019-10-05 19:49] mdolr commented on #5
Hum when visiting the test.html page (that's the quickest way) and hovering the links you should be able to preview them without clicking on them. Else just by hovering a link to a youtube video / a reddit comment / a wikipedia page

[2019-10-05 19:50] pengyuejiang commented on #5
Oh yes! It worked, except for the Tweet link

[2019-10-05 19:51] mdolr commented on #5
Yes twitter is not yet implemented I'm having some trouble with the loading of tweets and I'm currently waiting for an answer from the Twitter dev forum https://twittercommunity.com/t/twitter-widget-not-working-as-content-script/130526

[2019-10-06 00:12] egfanboy commented on #10
I investigated this for a little bit.

The embedded channel will only show some playlist for a channel.

Also you would need to make an API call with the `chanelId` to get the channel username to embed  the channel

[2019-10-06 07:14] mdolr commented on #10
I looked into that, maybe we could use the page's metadata as it provides the channel description, the channel icon and the channel's name.

[2019-10-06 12:17] #5 closed, assigned to pengyuejiang

[2019-10-06 23:47] joshuatz commented on #4
@mdolr I can submit something for this shortly; I took a quick pass at implementing it and got it working, just need to clean up my code and then I can make a PR.

![reddit-post-integration](https://user-images.githubusercontent.com/17817563/66277856-e481f900-e858-11e9-88f5-e5688045c75c.gif)

[2019-10-10 19:23] mdolr commented on #4
Closed with #14

[2019-10-10 19:23] #4 closed, assigned to nobody

[2019-10-12 10:07] mdolr opened #16 "Clean twitter CSS"
Currently tweets are not looking good, the goal is to find a way to make them look like real embed tweets provided by [Twitter publisher](https://publish.twitter.com).

We can't use the script provided by twitter as it doesn't work as a content script and I'm waiting currently waiting for an answer [from Twitter dev forum](https://twittercommunity.com/t/twitter-widget-not-working-as-content-script

[2019-10-12 10:10] mdolr opened #17 "Clean reddit post CSS"
Currently posts are not looking good, the goal is to find a way to make them look like real embed tweets provided by reddit embed code (i.e embedly). As with twitter we can't use the script provided by embedly as it doesn't work as an content script so we're not able to generate embeds or load them.

[2019-10-12 10:13] mdolr commented on #1
Closed with #15

[2019-10-12 10:13] #1 closed, assigned to nobody

[2019-10-12 10:38] rohithjayaraman commented on #17
This is gonna be my first issue. Mind if I give it a shot ?

[2019-10-12 10:39] mdolr commented on #17
yes go on good luck, I'll assign this one to you then

[2019-10-12 10:48] rohith-jayaraman commented on #17
Okay so how exactly does the extension work ? As in when does it show me the preview. Do I need to hover over the link or ? I have cloned the repo and added the extension

[2019-10-12 10:52] mdolr commented on #17
Yes you have to hover the link, you should find a test page at `html/test.html` with every working platform / type of link

[2019-10-12 10:57] iFonny commented on #17
hello

[2019-10-12 10:58] iFonny commented on #16
hello

[2019-10-12 11:05] hisakiyo commented on #17
slt ifo

[2019-10-12 11:15] rohith-jayaraman commented on #17
Have you considered having seperate blocks for comments and posts ?

[2019-10-12 11:15] mdolr commented on #17
what do you mean ?

[2019-10-12 11:16] rohith-jayaraman commented on #17
Nothing nothing. stupid question. forget it. sorry

[2019-10-12 11:30] rohith-jayaraman commented on #17
Hey do you want it to look like what you have done for the reddit comment ?

[2019-10-12 11:45] mdolr commented on #17
Yes that's the idea I guess ? If you've something better go for it

[2019-10-12 12:41] rohith-jayaraman commented on #17
Is it okay if I use a black icon instead of the orange one ? I think there are IPR issues with the orange since this isn't official reddit stuff

[2019-10-12 12:44] mdolr commented on #17
We're embedding reddit content I believe there should be no problem using the reddit icon as its their content? If their normal card were working we would be using those, and those cards would have official reddit branding

[2019-10-12 14:09] mdolr commented on #16
Closed with #19

[2019-10-12 14:09] #16 closed, assigned to nobody

[2019-10-12 14:12] mdolr opened #20 "Twitter integration : Embed medias"
Currently twitter picutres/videos appear like that in tweets
![](https://cdn.discordapp.com/attachments/556951502137065518/632578258436620299/unknown.png)
Make it so that in `twitter.js` you parse html given by twitter in the response to embed the media
The result should look like this :
![image](https://user-images.githubusercontent.com/19026937/66702742-40da9200-ed0b-11e9-9310-015fe86e4214.png)

[2019-10-12 14:16] mdolr opened #21 "Twitter integration : parse date"
Parse and add the date to the tweet (at the bottom or next to the username?)
The variable you should parse is `html` given in the twitter call answer at `js/templates/twitter.js:34`

[2019-10-12 15:12] matteoauger commented on #21
Hello, can I work on this issue? :)

[2019-10-12 15:12] mdolr commented on #21
Of course!

[2019-10-12 15:38] rohith-jayaraman commented on #17
I am almost done. Should be raising a PR in a few hours.

[2019-10-12 16:46] Vidalee opened #23 "Survol does not follow redirections"
When using survol on a shorted link (ie: goo.gl), it does not work 🚀

[2019-10-12 16:49] mdolr commented on #21
Closed with #22

[2019-10-12 16:49] #21 closed, assigned to matteoauger

[2019-10-12 18:35] mdolr opened #26 "CSS : When using the extension on reddit, embeds are being hidden when goign out of the parent"
Here is an example, the embed gets cropped, in a normal scenario we should be able to see the red part :
![image](https://user-images.githubusercontent.com/19026937/66706152-b5bfc300-ed2f-11e9-97c0-7ba9f7422c5b.png)

It happens on both old.reddit.com and reddit.com

[2019-10-13 13:20] #17 closed, assigned to rohithjayaraman

[2019-10-13 13:28] mdolr opened #27 "Reddit integration : Add date to the footer"
Date should be displayed like on reddit, "Submitted X hours/days ago by u/username"
Also if you could rework the post data in the footer a bit :+1:

[2019-10-13 14:03] Swayamsvk commented on #9
Can I work on this?

[2019-10-13 14:10] mdolr commented on #9
Of course, here is the style we're following for now (white background and rounded corners with a little box shadow)
![image](https://user-images.githubusercontent.com/19026937/66716912-8bbfdc80-edd3-11e9-85ed-19c818bdcc21.png)
![image](https://user-images.githubusercontent.com/19026937/66716934-ad20c880-edd3-11e9-887e-b6415bd062af.png)

[2019-10-13 15:10] grufkork commented on #27
I'll take a look at this!

[2019-10-13 15:15] mdolr commented on #27
I think the postData object has a timestamp variable to help you with that

[2019-10-13 16:13] grufkork commented on #27
I will reformat the footer a bit. Maybe a different font would look better?

[2019-10-13 16:18] mdolr commented on #27
I think we should keep embeds coherent if you want to change the font use the one used in the twitter embed.
When I was talking about the footer it was more about moving the post score and comments inline or something like that. Finding a good placement for each information

[2019-10-13 18:28] rohithjayaraman commented on #17
Are you happy with it or you want some changes ?

[2019-10-13 18:29] mdolr commented on #17
The issue is closed and I merged your PR, I still did some minor changes but it was good overall.

[2019-10-13 18:31] rohithjayaraman commented on #17
I know. I saw that you made a few changes and closed it. Just wanted to check if you needed anything else. It was really nice working on your repo. Thanks for the opportunity 😁

[2019-10-13 18:31] mdolr commented on #17
Thank you for your contribution!

[2019-10-13 18:34] grufkork commented on #27
Font looked good enough, so I didn't change. But maybe do an extension-wide font change in the future? Neat extension by the way!

[2019-10-13 19:16] mdolr commented on #27
We will discuss font change once we have a defined style, I'm closing this with #28

[2019-10-13 19:16] #27 closed, assigned to grufkork

[2019-10-14 14:11] lavina98 commented on #10
Hi
This API can be consumed for the channel name, image, description & subcribers.
_https://developers.google.com/youtube/v3/docs/channels/list?apix_params=%7B%22part%22%3A%22statistics%22%2C%22id%22%3A%22UCGMcVCg3tHKmy9oaUCIw8xw%22%7D#usage_
The request parameters include:
part - brandingSettings, statistics
id- (channel id)
You need authorization & API key

[2019-10-14 15:11] mdolr commented on #10
Hello @lavina98 thanks for your suggestion, I think we've already discussed the use of the youtube API in #13 but it seem like a pretty bad solution as we would need to share the API Key, or have our own API, and we would have troubles scaling with the ratelimits.

[2019-10-14 18:03] mdolr commented on #20
pic.twitter.com does not seem like a way to embed medias easily, this will need another solution

[2019-10-17 09:08] Aresiel opened #30 "Translations?"

[2019-10-17 17:21] mdolr commented on #30
Translations will be needed in the future, this is not the focus for now and I'm waiting to have a good idea of how much needs to be translated before asking for translations, but if you want to start translating already you can translate the extension description.

[2019-10-17 20:23] Aresiel commented on #30
Ok

[2019-10-29 16:13] cjscheller commented on #26
@mdolr Submitted PR #31 intended to resolve this issue.

[2020-10-04 11:51] mdolr commented on #26
Solved with #33

[2020-10-04 11:51] #26 closed, assigned to nobody

[2020-10-04 11:57] mdolr opened #34 "Switch youtube video integration to thumbnail + title + description"
Something similar to how survol works with a wikipedia link.

Reason being that with the new system the user wouldn't be able to play or pause the video and the extension shouldn't try to do picture in picture or anything like that, it should just be a preview of what you're going to click on.

[2020-10-04 12:01] mdolr opened #35 "Parse hashtags in tweets"
Right now, tweets are displayed as texts and hashtags appear like that : {tweet text} <a href=...>{Hashtag}</a> {tweet...}.
The goal of this is issue is to parse hashtags in a tweet to display them just like on twitter {tweet text} #{hashtag} {tweet...}

[2020-10-04 12:21] jsilvaigor commented on #35
Hi, I'll fix a look on this one

[2020-10-04 12:23] mdolr commented on #35
I think it is already being worked on there have been 2 forks since the creation of this issue :/
Maybe you can work on integrating profiles ?

[2020-10-04 12:26] jsilvaigor commented on #35
I've take a look on the other issues and didn't found the one you mentioned, which one it's?

[2020-10-04 12:29] mdolr opened #37 "Add twitter profiles"
Integrate twitter profiles to survol, should display profile picture + bio + ?
@jsilvaigor

[2020-10-04 12:29] mdolr commented on #35
This issue is fixed with #36
I opened #37 if you want then

[2020-10-04 12:29] #35 closed, assigned to nobody

[2020-10-04 12:30] jsilvaigor commented on #37
I'll take a look on this one.

[2020-10-04 12:36] t9NVYj68 commented on #34
i'll check it out

[2020-10-04 13:14] jsilvaigor commented on #37
I was able to get the profile picture and add it to the extension (PR #38). To get the profile description we have to call the twitter api or create some mechanism to get the profile page and render it on a virtual dom, because it's client side rendered with javascript.

[2020-10-04 13:18] mdolr commented on #37
Ok, I've merged #38 for now thanks

[2020-10-04 14:11] mdolr opened #40 "Create an extension settings page (settings: disable extension on this page)"
Create a little page which opens when clicking on the extension icon to disable the extension on the current website
Make sure we can add other options later like changing the language, or even switch other settings in the extension

[2020-10-04 15:16] #34 closed, assigned to nobody

[2020-10-04 15:26] mdolr opened #42 "Content appears twice when moving mouse too fast"
When you hover a link too fast sometimes 2 elements are appended to the survol div instead of just 1

[2020-10-04 16:06] mdolr opened #44 "Cache requests"
We should cache requests to avoid spamming them when using survolBackgroundRequest

[2020-10-04 16:10] mdolr opened #46 "Fix reddit post link parsing"
If the link ends with a / it is detected as a post, but if the final / is missing the link won't embed.
Example:
* [Should work but doesn't](https://old.reddit.com/r/outrun/comments/ddj5cl/outatime)
* [Works fine](https://old.reddit.com/r/outrun/comments/ddj5cl/outatime/)

[2020-10-04 17:34] Brett78 commented on #46
Hey I took a crack at this, I hope you don't mind: https://github.com/mdolr/survol/pull/47

[2020-10-04 17:49] t9NVYj68 commented on #10
#45

[2020-10-04 17:56] Coteh commented on #44
Hey, I'm interested in taking this! :)

[2020-10-04 18:00] Brett78 commented on #44
@Coteh Apologies for my poor etiquette, I've already had a go at this with #48. If you have a better implementation or @mdolr has a different idea for caching, please feel free to take over and I'll remove my PR :)

[2020-10-04 18:03] Coteh commented on #44
@Brett78 No problem. Just skimmed it and looks good to me. 👍

[2020-10-04 18:06] Coteh commented on #40
Sorry, just discovered this project a few minutes ago, is there functionality currently implemented (e.g. a flag) that effectively disables functionality of the extension, or does that need to be added for this issue as well?

I'm interested in taking this.

[2020-10-04 18:08] Coteh commented on #42
I'm interested in taking this.

[2020-10-04 19:19] mdolr commented on #40
Hey there isn't, it should be added with the little settings page

[2020-10-04 19:24] mdolr commented on #46
Fixed in #47

[2020-10-04 19:24] #46 closed, assigned to nobody

[2020-10-04 21:06] mdolr opened #50 "Change div position when near screen border"
Sometimes the div goes out of the screen because the a href is on the bottom or far right of the page.
In this case switch the div above the cursor instead of below or on the left of the cursor instead of the right

[2020-10-04 21:13] david-webber commented on #50
Can I take a look at this one? I might not be able to do it until tomorrow though.

[2020-10-04 21:13] mdolr commented on #50
It's fine don't worry.
Everything related to the div position is in `js/core.js` in `insertSurvolDiv` in the `mousemove` event, you might want to play with the offsets I guess

[2020-10-04 21:26] Coteh commented on #44
@mdolr PR #48 has now been merged in which fixes this issue. Should this be closed now?

[2020-10-04 21:27] mdolr commented on #44
oh yeah it should, thanks. Thought it would close automatically because it was referenced ahah

[2020-10-04 21:27] #44 closed, assigned to nobody

[2020-10-04 21:51] mdolr commented on #42
I finally figured it out, this happens because the div waits for the request to end to add the content, and the mouseleave event is triggered while the div is empty (so nothing is cleared), when the content is finally loaded your cursor has already entered another a href

[2020-10-04 21:54] mdolr opened #51 "Add soundcloud"
Just like youtube, add song title + description (first 2 lines maybe not the whole description?) + song author? (as much data about the page as you can)

[2020-10-04 21:55] mdolr opened #52 "Add bandcamp"
Like #51 add bandcamp song title / author

[2020-10-04 21:59] Coteh commented on #44
I believe if you put either the word “Fixes” or “Closes” before the issue number reference in the PR, it will set up the issue to be automatically closed on merge.

On Oct 4, 2020, at 5:27 PM, $m_dolr <notifications@github.com<mailto:notifications@github.com>> wrote:

oh yeah it should, thanks. Thought it auto-closed because it was referenced ahah

—
You are receiving this because you were mention

[2020-10-04 22:22] Coteh commented on #42
Ah interesting! I wonder if we could somehow cancel the request when mouseleave event is triggered while there's a pending request. Or perhaps we can discard the result when it comes back if we're unable to do that.

[2020-10-05 07:14] mdolr opened #54 "The extension doesn't work with dynamic content"
When content is loaded on a page asynchronously, the extension doesn't work on it as it is parsing a hrefs only on page load.
The [landing page](https://mdolr.github.io/survol) is a great example, every contributor profile should be "survol-able" not just mine (which is hard coded).

[2020-10-05 09:12] VeikkoLehmuskorpi commented on #51
Hi, this looks interesting. I could give it a try!

[2020-10-05 11:19] tomwalsh-home commented on #52
I'd like a go at this please 👍

[2020-10-05 18:10] mdolr commented on #54
Fixed by #57

[2020-10-05 18:10] #54 closed, assigned to nobody

[2020-10-05 18:23] mdolr opened #59 "Re-work the reddit comment integration"
Try to have reddit comments look the same as reddit posts

[2020-10-05 18:50] liamortiz commented on #59
Can I take this one ?

[2020-10-05 18:51] mdolr commented on #59
Yes you can

[2020-10-05 20:33] #50 closed, assigned to david-webber

[2020-10-05 21:38] mdolr commented on #59
Fixed by #62

[2020-10-05 21:38] #59 closed, assigned to liamortiz

[2020-10-06 10:18] #51 closed, assigned to nobody

[2020-10-06 12:31] #9 closed, assigned to nobody

[2020-10-06 12:33] #23 closed, assigned to nobody

[2020-10-06 17:07] #40 closed, assigned to nobody

[2020-10-06 17:08] mdolr commented on #42
The referenced commit fixed the bug when going from one node to another, but apparently the bug can happen when staying on the same node ?

[2020-10-06 17:34] #42 closed, assigned to nobody

[2020-10-06 18:14] mdolr opened #64 "Add german translation"
Hello,
The extension needs translation for different languages.

You can find the language code (or locale code) you should use [on this page](https://developer.chrome.com/webstore/i18n#localeTable)

### Steps :
* Create a `_locales/[language_code]` folder
* Create a `messages.json` file at `_locales/[language_code]/messages.json`
* Copy paste content from `_locales/en/messages.json`
* Translate t

[2020-10-06 18:15] mdolr opened #65 "Add spanish translation"
Hello,
The extension needs translation for different languages.

You can find the language code (or locale code) you should use [on this page](https://developer.chrome.com/webstore/i18n#localeTable)

### Steps :
* Create a `_locales/[language_code]` folder
* Create a `messages.json` file at `_locales/[language_code]/messages.json`
* Copy paste content from `_locales/en/messages.json`
* Translate t

[2020-10-06 18:16] mdolr opened #66 "Add italian translation"
Hello,
The extension needs translation for different languages.

You can find the language code (or locale code) you should use [on this page](https://developer.chrome.com/webstore/i18n#localeTable)

### Steps :
* Create a `_locales/[language_code]` folder
* Create a `messages.json` file at `_locales/[language_code]/messages.json`
* Copy paste content from `_locales/en/messages.json`
* Translate t

[2020-10-06 18:17] mdolr opened #67 "Add dutch translation"
Hello,
The extension needs translation for different languages.

You can find the language code (or locale code) you should use [on this page](https://developer.chrome.com/webstore/i18n#localeTable)

### Steps :
* Create a `_locales/[language_code]` folder
* Create a `messages.json` file at `_locales/[language_code]/messages.json`
* Copy paste content from `_locales/en/messages.json`
* Translate t

[2020-10-06 18:29] #64 closed, assigned to nobody

[2020-10-06 18:29] mdolr opened #69 "Add chinese translation"
Hello,
The extension needs translation for different languages.

You can find the language code (or locale code) you should use [on this page](https://developer.chrome.com/webstore/i18n#localeTable)

### Steps :
* Create a `_locales/[language_code]` folder
* Create a `messages.json` file at `_locales/[language_code]/messages.json`
* Copy paste content from `_locales/en/messages.json`
* Translate t

[2020-10-06 19:29] EntwistleOx commented on #65
hi, i want to contribute with spanish translation

[2020-10-06 20:00] #65 closed, assigned to EntwistleOx

[2020-10-06 20:00] mdolr opened #72 "Add korean translation"
Hello,
The extension needs translation for different languages.

You can find the language code (or locale code) you should use [on this page](https://developer.chrome.com/webstore/i18n#localeTable)

### Steps :
* Create a `_locales/[language_code]` folder
* Create a `messages.json` file at `_locales/[language_code]/messages.json`
* Copy paste content from `_locales/en/messages.json`
* Translate t

[2020-10-06 20:29] mdolr opened #73 "Add support for dark mode"
Add the possibility to switch the survol div to dark mode.

Tasks :
* Add a setting in the settings popup to toggle dark mode
* Change the CSS to have a dark mode maybe using css variables ?

[2020-10-06 20:37] dmb1107 commented on #73
Can you assign this to me so I can give it a go?

[2020-10-07 00:58] NashilChoi commented on #72
Hi @mdolr , I can take a look into this if you like

[2020-10-07 03:07] plushugh commented on #69
I'll do it, Chinese is my first language😀

Assign it to me so I can work on it.

[2020-10-07 03:30] plushugh commented on #69
It's done! [My Repo](https://github.com/plushugh/survol)

[2020-10-07 03:35] plushugh commented on #69
PR #75

[2020-10-07 04:27] choinashil commented on #72
Hi @mdolr , I can take a look into this if you like

[2020-10-07 04:53] #69 closed, assigned to nobody

[2020-10-07 05:00] KeshriAyushi22 commented on #73
Hey can you assign this to me aswell, It will be a good learning for me

[2020-10-07 05:36] mdolr commented on #73
Hum I’m confused, a PR has already been made ( #74 )

[2020-10-07 05:37] mdolr commented on #72
Feel free to make a PR

[2020-10-07 11:10] KeshriAyushi22 commented on #73
@mdolr sure, if any help required i would be happy to contribute

[2020-10-07 11:15] mdolr commented on #73
Then I guess you should take a look at the PR :+1:

[2020-10-07 12:39] cvandermeer commented on #67
@mdolr i have a branch ready but i do not have permission to push my branch

[2020-10-07 12:42] mdolr commented on #67
You have to make a pull request, I recommend you watch some guides online on how to do that

[2020-10-07 12:51] #67 closed, assigned to nobody

[2020-10-07 17:35] #30 closed, assigned to nobody

[2020-10-07 18:57] mdolr opened #79 "Add swedish translation"
Hello,
The extension needs translation for different languages.

You can find the language code (or locale code) you should use [on this page](https://developer.chrome.com/webstore/i18n#localeTable)

### Steps :
* Create a `_locales/[language_code]` folder
* Create a `messages.json` file at `_locales/[language_code]/messages.json`
* Copy paste content from `_locales/en/messages.json`
* Translate t

[2020-10-07 18:57] mdolr opened #80 "Add finnish translation"
Hello,
The extension needs translation for different languages.

You can find the language code (or locale code) you should use [on this page](https://developer.chrome.com/webstore/i18n#localeTable)

### Steps :
* Create a `_locales/[language_code]` folder
* Create a `messages.json` file at `_locales/[language_code]/messages.json`
* Copy paste content from `_locales/en/messages.json`
* Translate t

[2020-10-07 18:58] mdolr opened #81 "Add russian translation"
Hello,
The extension needs translation for different languages.

You can find the language code (or locale code) you should use [on this page](https://developer.chrome.com/webstore/i18n#localeTable)

### Steps :
* Create a `_locales/[language_code]` folder
* Create a `messages.json` file at `_locales/[language_code]/messages.json`
* Copy paste content from `_locales/en/messages.json`
* Translate t

[2020-10-07 19:01] Hsins commented on #69
@mdolr There are Traditional Chinese and Simplified Chinese in the world. Would you mind to open another issue for "Add Traditional Chinese Translation" and assign it to me?

[2020-10-07 19:05] mdolr commented on #69
@Hsins hey, just submit a pull request if you want to add a new language that is not in the issue list, let's not overcomplicate things :+1:.

[2020-10-07 19:09] mdolr opened #82 "Should survol also act as a library to add previews to websites"
Currently the extension code runs on both the extension and the github pages integration (at [survol.me](https://survol.me)). To make sure the user experience is the same when trying the extension on github pages and using it, I'm importing scripts directly from the github repository. The only thing that I've added is a custom function which replaces `window.survolBackgroundRequest`

The script im

[2020-10-07 23:02] daflh opened #86 "Add indonesian translation"
Hey, looks like you need translations into different languages for your app
Can i work on Indonesian translation?
Thanks :smiley:

[2020-10-08 04:05] mdolr commented on #86
Feel free to make a PR please :+1:

[2020-10-08 05:49] KeshriAyushi22 commented on #73
Hi,
Quick question, we need to make this extension a dark theme , using the
same toggle btn right?
[image: image.png]
*Thanks and Regards*
*Ayushi  Keshri*

On Wed, 7 Oct 2020 at 16:45, $m_dolr <notifications@github.com> wrote:

[2020-10-08 07:57] chiaramistro commented on #66
I can do it for the Italian language!

[2020-10-08 07:58] #86 closed, assigned to nobody

[2020-10-08 08:59] #66 closed, assigned to nobody

[2020-10-08 11:43] mdolr commented on #73
It should be applied when a switch in the popup window (settings when clicking on icon) is checked

[2020-10-08 15:14] KeshriAyushi22 commented on #73
![image](https://user-images.githubusercontent.com/49064703/95478233-e79d5100-09a6-11eb-9d3a-c1cca9840894.png)
@mdolr i will change the color scheme , just wanted to check whether  this is okay

[2020-10-08 19:21] #79 closed, assigned to nobody

[2020-10-08 20:42] mdolr opened #96 "Fix survol container getting out of screen (height)"
Make sure the content always fits on the screen, here are various things that could be done :
* Set a max height
* Limit the size of the content (for example: only display X words in the preview)

This has to be done as sometimes the container is below the cursor but because there is not enough space its position is changed to above the cursor even though it doesn't fit too.

The container positio

[2020-10-08 20:43] mdolr opened #97 "Fix content getting out of the survol container (width)"
Sometimes when the content contains a link and the link is too long, it might get out of the container. It shouldn't happen

[2020-10-08 21:18] rzhekova commented on #97
Hi @mdolr I can have a look

[2020-10-08 21:20] rzhekova commented on #97
Hi @mdolr I can pick this up. Thanks

[2020-10-09 04:50] mdolr opened #99 "Add a setting to preview only when a key is held"
Maybe people don’t want to preciew everything, we could add a setting to only preview things if a key is being pressed.

Users should be able to modify this key

[Suggestion from reddit](https://old.reddit.com/r/SideProject/comments/j7qsh4/survolme_a_browser_extension_to_preview_any_link/g86r9fv/)

[2020-10-09 08:48] #80 closed, assigned to nobody

[2020-10-09 11:49] mdolr opened #102 "Poor performances"
Apparently some people have trouble using the extension has it slows their page loading speed, this is likely due to the `equipNodes` function and the mutationObserver

If you have any idea on how to improve performances please feel free to make a PR

[2020-10-09 20:01] #81 closed, assigned to nobody

[2020-10-09 20:02] #72 closed, assigned to nobody

[2020-10-09 20:20] mdolr commented on #73
@dmb1107 @KeshriAyushi22 I've implemented a dark mode if you want to see how I've done it you can check the last commits. In the first commit I've started by unifying the CSS has there were some inconsistencies (fc5f5901b9cf88f7f1629b0a2f8851c8ab2b3c16).

Then in the 2nd one I've implemented the dark mode (69cc54720fdc577d02fe7ae3531f265072fdf23c)

[2020-10-09 20:23] #97 closed, assigned to nobody

[2020-10-09 20:24] #73 closed, assigned to dmb1107

[2020-10-10 18:01] shikharsaxena98 commented on #37
Is this closed? Or is there any work to be done here?

[2020-10-10 18:02] mdolr commented on #37
Hum this is not closed, #38 added twitter profile picture to tweets which is nice but it didn't integrate twitter profile pages. If you want to do it you can there is work to be done indeed!

[2020-10-10 18:42] mdolr opened #105 "Disable the extension on wordpress admin panel"
Apparently having the extension sending GET requests when hovering a button triggers action in wordpress and can lead to the deletion of some articles for example.

[2020-10-10 18:48] #10 closed, assigned to nobody

[2020-10-10 18:51] mdolr opened #106 "Youtube integration - Add youtube channel (profile)"
This should appear when hovering a link formatted like this : youtube.com/channel/X
It should display things like :
* Username
* Profile picture
* Banner ?
* Subscriber count ?
* Videos count ?
* Last video ?

depending on what data we can get, this had already been looked into with #10 but the resulting PR was adding it in another way.

[2020-10-10 18:55] mdolr commented on #52
Hello, have you been able to work on this @tomwalsh-home or is the issue available for someone to work on ?

[2020-10-10 18:58] mdolr opened #107 "Github repository integration"
Add a github integration for repositories, it could display things like :
* Project name
* Project description
* Project Thubnail ?
* Beginning of the README.MD file ?
* Licence ?
* Star count ?
* Fork count ?
* Watchers count ?
* Number of opened issues ?

[2020-10-10 18:59] mdolr opened #108 "Github user integration"
Goes with #107 and it could display things like :
* Username
* Repository count ?
* Languages ?
* Workplace, organization ?
* Website ?
* Twitter profile etc...

[2020-10-10 19:01] mdolr opened #109 "Implement direct link to images"
When a direct link to an imgur image is hovered it should be previewed, not just for imgur but any host.

[2020-10-10 19:04] mdolr opened #110 "Add other websites from the StackExchange network to the StackExchange implementation"
Currently the StackExchange implementation only works for stackoverflow.com, it should work with any website that supports the stackexchange API.

To do this you should modify the dispatcher function in `js/core.js` and change the implementation in `js/templates/stackexchange.js`

[2020-10-10 19:04] debPhoenix commented on #109
Hi! Can I work on it?

[2020-10-10 19:04] mdolr commented on #109
Yes of course, I'm not really sure how you should go about implementing this, I'd say doing it in `js/templates/base.js` seems like a good option

[2020-10-10 19:17] ayush015 commented on #107
if this is up for grabs i would like to work on this issue

[2020-10-10 19:17] mdolr commented on #107
it is

[2020-10-10 19:19] ayush015 commented on #107
can you assign me to it and can you please explain like what I need to do !

[2020-10-10 19:21] mdolr commented on #107
I think the issue is pretty self-explanatory, read CONTRIBUTING.MD if you need some insights on how th extension works.

[2020-10-10 19:26] mdolr commented on #109
@debPhoenix Please don't ask to work on something without even looking at what should be done and then delete your comments when you realize you can't do it (20 minutes after asking to work on the issue lol) without saying anything :) This is not an easy hacktoberfest repository :)

[2020-10-10 19:49] dgnaegi commented on #110
hi, i would like to do this one tomorrow :)

Can you assign me to this issue?

[2020-10-11 00:37] rezziemaven commented on #105
Hey @mdolr! So just to clarify, you're saying that if a user who has the extension enabled in the browser and is in the admin panel of their own WordPress site, it can accidentally delete articles/ posts from their site?

[2020-10-11 01:41] rezziemaven commented on #96
Hi @mdolr! I'd love to work on this. Would you mind assigning it to me?

[2020-10-11 06:23] mdolr commented on #105
Exactly, if the user hovers an action the extension will send a GET request to the link behind the button and from what I understand wordpress uses GET requests for its API so the extension should be disabled on any wordpress admin panel

[2020-10-11 09:56] mdolr opened #111 "Make the survol preview interactive"
Once the survol preview appears it should stop moving while you're hovering the link, or the container itself.
You should be able to interact with it, select things in it, press buttons.

[2020-10-11 09:59] mdolr opened #112 "The survol container should display a placeholder / loading icon"
While a survolBackgroundRequest is being done, the container should display a loading icon or even better something like [this](https://buefy.org/documentation/skeleton).

[2020-10-11 10:08] carlosfrontend commented on #112
I am interested in working on this

[2020-10-11 10:09] mdolr commented on #112
Feel free to :+1:

[2020-10-11 10:11] mdolr opened #113 "Implement soundcloud profile pages"
Please add soundcloud profile pages when a soundcloud.com/profile link is hovered, what should be done is similar to #108 with soundcloud data.

[2020-10-11 10:15] carlosfrontend commented on #112
Thanks i will try :+1:

[2020-10-11 11:40] dgnaegi commented on #110
Hi @mdolr thanks for assigning me and the well documented first issue :)

I opened a PR regarding this Issue: https://github.com/mdolr/survol/pull/114

Because the Stackexchange-API requires a site (e.g. physics) i replaced the getDomain() method with a getSite() method. I would appreciate a review.

<img width="719" alt="grafik" src="https://user-images.githubusercontent.com/23121336/95677658-332

[2020-10-11 11:43] mdolr commented on #110
Ok I might have not been clear enough in the issue, I was expecting you to find a way to include every site from the stackexchange network which means everything listed [here](https://stackexchange.com/sites) as the stackexchange network operates on multiple domains. There might be an API call that we could fire when the extension starts to get every domain from the stackexchange network and then

[2020-10-11 11:46] mdolr commented on #110
This is already ok-ish as most of the domains are [something].stackexchange.com and I'll merge this if it's not possible to include everything, but it would save us some time in the future if they open a new website like superuser.com for example, we wouldn't have to add it manually.

[2020-10-11 14:04] dgnaegi commented on #110
Ok, thanks for further explaination. I'll try to find an universal solution during the next 2-3 days

[2020-10-11 15:15] grubdragon commented on #113
Hey! I'll try to take this up. Could I be assigned?

[2020-10-11 16:19] mdolr commented on #102
We could use the mousemove event to detect which elements are currently hovered and act accordingly, it would also help to transition to an interactive container #111

[2020-10-11 16:34] rezziemaven commented on #105
Awesome, thanks for clarifying! I'd love to work on this; can you assign it to me?

[2020-10-11 20:14] mdolr commented on #102
This needs testing but to me it seems like a huge improvement when loading websites youtube.com I used to have some delay and now it's gone

[2020-10-11 20:42] mdolr opened #115 "Onboarding page"
When installing the extension it should open an onboarding page,
* users should be able to configure the extension
* the page should also tell the user they can click on the extension icon to open the settings
* it should also display the latest changes (changelogs) if possible using the github releases page

[2020-10-12 00:27] carlosfrontend commented on #112
I saw [this](https://medium.com/javascript-in-plain-english/vue-skeleton-loading-screen-using-suspense-components-daily-vue-4-e34d5291cb38)
But is very dificult for me :disappointed:

[2020-10-12 05:59] mdolr commented on #112
Well we are not using vue, afaik it should be possible to make a skeleton in pure css.

let’s start by adding a loading icon and we’ll replace by a skeleton later

[2020-10-12 07:55] tomwalsh-home commented on #52
Hi @mdolr, no i havent, and i probably wont get chance :(

[2020-10-12 20:18] silenteyesoncode commented on #108
like to work on this
have done this before too

[2020-10-12 20:18] mdolr commented on #108
Feel free to :+1:

[2020-10-12 21:02] mdolr opened #116 "List of missing translations :"
Hello,
The extension needs translation for different languages.

You can find the language code (or locale code) you should use [on this page](https://developer.chrome.com/webstore/i18n#localeTable)

### Steps :
* Fork the repository
* Create a `_locales/[language_code]` folder
* Create a `messages.json` file at `_locales/[language_code]/messages.json`
* Copy paste content from `_locales/en/messag

[2020-10-12 21:09] mdolr opened #117 "Rework the landing page"
The current landing page works pretty well, but it is not very clean. I'm no web designer but I would really like a landing page that uses an animated 3D model of a paperplane in the background.

The demo part should be kept, maybe done in a different way, I can help with that. The contributor list should also be kept, overall the only thing that should be changed is the design and layout.

Please

[2020-10-12 21:13] Jeremy-Walton commented on #117
I can do this if you want to assign me.

[2020-10-12 21:13] mdolr commented on #117
Good luck :+1:

[2020-10-12 21:18] mdolr commented on #117
Also if you could add a little testimonial / review section so we can add quotes from people / articles if the extension ever gets some. For example we could add [this "Clever idea"](https://www.producthunt.com/posts/survol#comment-1160813) from Ryan Hoover, Founder of ProductHunt

[2020-10-12 22:18] Jeremy-Walton commented on #117
Is it ok to leverage to Bulma CSS framework you were already using in here or is the intent to remove that?

[2020-10-13 03:57] jmmendivil commented on #111
Hey, great project!

This looks like a fun feature and I'm interested to work on this.

Do you have any ideas about the ux? like, what do you think about show the preview from the center of the link instead of the cursor position, that way you know exactly where the preview will appear to interact with it; and disable it based on a timer because we can't control the length of the link

[2020-10-13 05:56] mdolr commented on #117
bulma is fine

[2020-10-13 06:00] mdolr commented on #111
I played a bit with positionning relative to the link’s length and width earlier today, and I wasn’t really satisfied, I think we should pretty much copy what google maps is doing when hovering a monument which means:
- height = cursor’s position
- width = centered around cursor’s position

[2020-10-13 07:15] hisakiyo opened #120 "Add a blacklist to deal with website that already have a preview for inner links"
When using survol on a site that already offers an equivalent system, it should be possible to disable one of the two so that it's not awkward.

I had thought of a global blacklist system, but if you have a better idea, do not hesitate to suggest !

[2020-10-13 08:48] grubdragon commented on #120
I'll give this one a go

[2020-10-13 08:59] grubdragon commented on #120
@mdolr I'm not sure how to work with local storage, how can I work through it?

[2020-10-13 09:18] #113 closed, assigned to nobody

[2020-10-13 10:19] mdolr commented on #120
I'd suggest reading [this](https://developer.chrome.com/apps/storage) and copying what's already in the extension.

Also I'm not really sure how this should be implemented as currently we're blocking inner link previews for links that already have a custom implementation (i.e: the youtube integration blocks previews on youtube). How do you plan to do it ?

Note the extension shouldn't be disabled

[2020-10-13 10:32] grubdragon commented on #120
A followup on my question, is the API for chrome identical to the Firefox one?

My plan was to load an object on startup (I don't know how to load on change) and check if the domain is in the object under `getPotentialHover`

Additionally there would be a button in the popup to "add to blacklist"

Removing from blacklist would be more difficult, some way to access the object would be needed. I'm t

[2020-10-13 10:36] mdolr commented on #120
I mean, there is already a setting to disable the extension on a list of pages, (similar to ublock / adblock). Maybe we should hardcode this one ? I think it makes sense to hardcode it.

But then if we do that this is equivalent to making a custom implementation for each of those sites.

Also yea chrome and firefox are using the same API, normally in firefox you would have to use the browser keywo

[2020-10-13 10:46] grubdragon commented on #120
Ahh I understand now.

If I get you correctly, hardcoding would be writing specific code for each website where we require servol to not work. For blacklisting, I think it's a bad design choice, and the goal should be to move towards lists like ublock/adblock.

This discussion makes me confused regarding the requirements of OP. I think functionality for this feature is already implemented.

[2020-10-13 10:49] mdolr opened #122 "The survol container is removed from the DOM in SPA"
When changing page in Single Page Applications, sometimes the survol container is removed from the DOM. This is the case on [osu's website](https://osu.ppy.sh/home) for example. It should be re-inserted if it has been removed. Also we should make sure that the old event listeners are removed to avoid memory leaks.

[2020-10-13 10:50] mdolr commented on #120
It's already kind of implemented, I'm not sure if you're using the extension rn, but it previews github links using meta-data preview, so when you hover a github issue or anything it shows the native github preview + the survol meta data preview. And the goal of this issue is to avoid such things I believe.

You might not want to disable the extension completely on Github, but just stopping it for

[2020-10-13 10:56] grubdragon commented on #120
Oh! That's the requirement!
I've been using this extension and I've noticed the problem as well
Maybe an option to disable just self-referential links, yes? I'll think about the implementation a bit

PS: I think it's safe to say that when a website does this, it would be only for self-referenced links. Atleast for the time being

[2020-10-13 11:33] ask-imran commented on #115
I would love to give this a go!

[2020-10-13 11:33] mdolr commented on #115
Feel free to :+1:

[2020-10-13 16:23] jscastanos commented on #116
Hi, I'd like to add a Filipino translation.

[2020-10-13 16:24] mdolr commented on #116
one thing wasn't translated in #118 maybe you can finish the translation

[2020-10-13 21:33] silenteyesoncode commented on #108
i need to add client ID and secret
or I'll leave the comment, you can add it by creating git auth

[2020-10-13 21:42] silenteyesoncode commented on #108
Nevertheless where you want to display the **user profile**?

[2020-10-14 04:11] mdolr commented on #108
Why would we need to add API credentials ? I’m pretty sure `GET /users/{username}ˋ doesn’t require any OAuth authentication.

The profile should be disolayed as any other website, you could try to copy github’s preview or implement your own layout. I’d recommend reading CONTRIBUTING.MD if you feel confused

[2020-10-14 12:54] grubdragon commented on #120
@mdolr got an idea on the implementation

I was thinking that using filter in `gatherHrefs()` could avoid generating the div for the self-referential link. Would this work? (I feel like this call for an addition in the CONTRIBUTING.MD file, which specifies exact workflow for the extension. I think this doubt and a quite a few wouldn't arise if workflow is specified)

Have added a button as of now,

[2020-10-14 13:09] mdolr commented on #120
As of 0.5.4 I have changed the link detection system to enhance performances, the extension isn't using gatherHrefs and capturing functions. I do get what you're trying to do and this could easily be implemented with the new sytem.

I'm just not sure it should be left to the user as I feel like the meta-data settings is already confusing enough, adding yet another settings for inner links will con

[2020-10-14 13:18] grubdragon commented on #120
I see what you're saying. I think we can add an "Advanced Settings" expand/collapse, and ship with the extensions some default values for `disabledSelfReferDomains`, where we want to avoid self-referencing (or this could be fetched via a list but that'll take more time to implement). This way someone who knows what this setting does can enable/disable as required. If they don't they still see good

[2020-10-14 13:22] mdolr commented on #120
I'm fine with this honestly if you feel like submitting a PR you can go for it.

(Also, I knew about the commit hash, I'm just confused because the commit appears on this repository even though you don't have write permissions, I thought you had bypassed something lol)

[2020-10-14 13:23] grubdragon commented on #120
Although I'm still stuck. When doing the above, would `gatherHrefs()` filtering be the way to go? I thought you had something else in mind

[2020-10-14 13:24] mdolr commented on #120
No you'd have to filter links in the `mousemove` event situated in the `insertDiv` function directly. You could also work through the `dispatcher` function

[2020-10-14 14:34] mdolr opened #130 "Add a badge on the extension icon"
To make it more clear whether the extension is enabled or not, and to show people that the icon is click-able, a badge should be added. It should display ON/OFF depending on the state of the extension on the page.

Just like Adblock plus or Ublock use a badge to display the amount of ads blocked on a page

[2020-10-14 16:31] mdolr commented on #105
Hello @rezziemaven you've asked me to assign this issue aswell as #96 3 days ago, have you had time to work on those ? If not do you still plan to work on them ?

[2020-10-14 16:47] katyasichov commented on #130
Hey, I would like to try it out!

[2020-10-14 18:11] grubdragon commented on #120
Took me a while to make the popup's collapsible. Some ugly force pushes later, the popup works as intended.

However, I can't seem to solve the "backend"-ish code. I might be missing something obvious here.

I have tried 3 approaches but failed to make the feature work:
1. Added a storage fetch and tried to check in the `getPotentialHover()` function before the switch. I intended to return a `null

[2020-10-14 18:45] mdolr commented on #120
Your fork of the repository is not up-to-date with the latest changes which is why you can't understand. I think you should start by deleting your current fork and re-fork the repository, or get even with master in any other way.

[This](https://github.com/mdolr/survol/blob/601a7e9b5208a0da13b8a067a38c397c4fc4e247/js/core.js#L61) is where nodes are detected now, you will have a node object which y

[2020-10-14 19:09] grubdragon commented on #120
I'll get right to it. That's exactly where I had placed my filter in the very beginning. Thanks!

PS: I'll think about tackling the subdomain problem later, I think it works pretty well as is.

[2020-10-15 00:35] rezziemaven commented on #105
Hey @mdolr, I haven’t had the time to work on either of them but yes, I still plan to work on both of them. I’ll have more time to work on it this weekend. I hope that’s okay with you.

[2020-10-15 08:52] mdolr commented on #120
No need to worry about subdomains, I was kinda tired yesterday and that was some total non-sense as subdomains are already accounted for by being removed by the getDomain function, I'll take a look at your PR later

[2020-10-15 09:52] grubdragon commented on #82
I think this is a good idea. The proof-of-concept already exists so it makes sense.

[2020-10-15 12:30] luharinos commented on #116
@mdolr - I would like to add Gujarati and Hindi translations.

[2020-10-16 00:32] ask-imran commented on #112
Hey @carlosfrontend
Let me know if you are working on this, I would love to try it.

[2020-10-16 01:23] joelazwar commented on #52
Hi @mdolr I would like to try and add this feature :)

[2020-10-16 06:18] mdolr commented on #52
Feel free to

[2020-10-17 09:21] #105 closed, assigned to rezziemaven

[2020-10-17 09:22] #102 closed, assigned to nobody

[2020-10-17 09:23] #99 closed, assigned to nobody

[2020-10-17 16:18] #120 closed, assigned to nobody

[2020-10-17 16:18] #115 closed, assigned to nobody

[2020-10-18 02:49] joelazwar commented on #52
Hey @mdolr It seems like the base template already shows the info you mentioned (title/author) But I thought I would try and make a dedicated template.js file similar to the soundcloud feature you suggested but I'm having trouble finding an oembed/api to request bandcamp info from. Do you happen to have any ideas?

[2020-10-18 08:52] mdolr commented on #52
Honestly I dont' know if they have an API or anything, I'm pretty sure it's possible to embed tracks, I guess you could wait for #111, and then embed the track in a preview once it becomes possible to interact with the container

[2020-10-18 09:05] mdolr opened #140 "Add custom templates for websites supporting oEmbed"
We've used oEmbed for many websites already (twitter, reddit, youtube, ...). But there are still many sites that would benefit from getting custom oEmbed support instead of using meta-data parsing ( `js/templates/base.js` ). This issue will keep track of every service added to the extension.

## How to proceed :
* If you're not familiar with the extension read [CONTRIBUTING.MD](https://github.com/

[2020-10-18 09:09] mdolr opened #141 "Cache the changelog on onboarding page"
Currently every time you open the onboarding / settings page via the popup it requests the changelog using the Github API. The request is done `js/utils/onBoardingbootstrap.js`. The response should be cached as the extension likely won't update while its running.

(don't ask if you can work on this please :pray:, I wouldn't have created the issue otherwise)

[2020-10-18 10:18] ask-imran commented on #141
Picking it up

[2020-10-18 14:10] sprakash57 commented on #140
Please assign this to me.

[2020-10-18 14:12] mdolr commented on #140
I won't assign this to anyone this issue is here to keep track of the progress

[2020-10-19 09:11] rezziemaven commented on #96
Hey @mdolr, just letting you know I'm almost done with this one, but just trying to fix one thing with my code that's causing a styling issue before I submit.

[2020-10-19 12:38] niutech opened #143 "Feature request: thumbshots/previews of all websites"
Could you provide thumbshots/previews of all external websites, possibly by using one of the ready-to-go APIs: [LinkPreview](https://www.linkpreview.net/), [Iframely](https://iframely.com/embed/), [PicSee](https://picsee.co/), [Thum.io](https://www.thum.io) or [Thumbshots.org](https://www.thumbshots.org)? Thanks

[2020-10-19 12:47] niutech opened #144 "Feature request: Inject in existing web pages"
Once upon a time there was a great project [Snap Shots](https://web.archive.org/web/20111002235808/http://www.snap.com/snapshots.php), which added external links previews on hover to any web page by injecting a special `<script>`. There were many of previews to choose from (see [Menu of Shots](https://web.archive.org/web/20111002235808/http://www.snap.com/snapshots.php#menu)). Please provide a sim

[2020-10-19 14:13] joelazwar commented on #108
Hey @mdolr I've been working on this feature and here are the results so far
![survol github light](https://user-images.githubusercontent.com/43277890/96462476-ce6e8d00-124f-11eb-8a3f-4b4175f25249.png)
![github dark](https://user-images.githubusercontent.com/43277890/96462483-d0385080-124f-11eb-8a79-d3d7669098e8.png)

Anything you would like to add? Since I'm probably going to pull request this so

[2020-10-19 17:25] mdolr commented on #144
Duplicate. See #82

[2020-10-19 17:25] #144 closed, assigned to nobody

[2020-10-19 17:31] mdolr commented on #143
Those ready-to-go APIs start charging money above a given amount of requests, while the data is available for free. Also by using these services we don't control what is injected into the DOM.

By doing our own custom implementations :
* The extension can stay free
* We have control over everything and can customize each website implementation
* We don't have any problem with firefox / chrome deny

[2020-10-19 17:59] niutech commented on #143
[Easy-Thumb](https://www.easy-thumb.net/en/index.html) is free with no limit. Can't you just show thumbshots using `<img src="https://www.easy-thumb.net/thumb?url=http://example.com&size=80x60&view=desktop" alt="">` without any third-party JS?

[2020-10-19 18:00] mdolr commented on #143
Well easy-thumb provides a preview from the entire website, it's not what we are trying to achieve with Survol, Safari already does that and I'm pretty sure other extensions do that already. The goal is to only preview important data so people can decide if they want to click or not

[2020-10-21 04:13] rezziemaven commented on #96
Hi @mdolr! Just submitted a PR to address this issue: see #146.

[2020-10-21 12:23] reveurguy commented on #117
hi, can i work on this, although i'll use bootstrap but i'll make it better.

[2020-10-21 14:49] Jeremy-Walton commented on #117
I'm still working on this. Should have something pushed out this evening or tomorrow

[2020-10-21 18:12] #130 closed, assigned to egrinberg

[2020-10-21 22:51] Jeremy-Walton commented on #117
@mdolr Alright I have a PR up finally. It's not all that novel, but it does make it a bit nicer https://github.com/mdolr/survol/pull/147

I didn't get to the testimonials, but there is a spot for them under the download buttons.

[2020-10-21 22:51] Jeremy-Walton commented on #117
Here are some screenshots

<img width="421" alt="Screen Shot 2020-10-21 at 6 45 42 PM" src="https://user-images.githubusercontent.com/5957102/96798208-65615380-13ce-11eb-881a-f0187697ad5a.png">
<img width="415" alt="Screen Shot 2020-10-21 at 6 45 50 PM" src="https://user-images.githubusercontent.com/5957102/96798209-65615380-13ce-11eb-842c-dec0d85f45bb.png">
<img width="1351" alt="Screen Shot 2020

[2020-10-22 15:55] phast184 commented on #116
Hi, I've made a pull request in which Vietnamese is added. Please check it out https://github.com/mdolr/survol/pull/148

[2020-10-26 14:05] #117 closed, assigned to Jeremy-Walton

[2020-10-26 18:38] IvanSanchezSalvador commented on #116
Hello, i add a pull request with Catalan. #151

[2020-10-27 17:19] dit7ya opened #152 "Add some indicator while fetching the preview"
It would be good to see a visual indicator when the user hovers over link for more than a certain amount of time (for example 1 second).

[2020-10-27 17:38] mdolr commented on #152
Duplicate of #112

[2020-10-27 17:38] #152 closed, assigned to nobody

[2020-10-30 03:09] NSachida commented on #116
Add some other local languages like Hausa

[2020-10-30 09:02] mdolr commented on #116
Hello @NSachida as you can see Hausa is not in the [list](https://developer.chrome.com/webstore/i18n#localeTable) of chrome supported languages. I'm looking for native speakers to add translations if you feel like you can contribute please feel free to :+1:

Also please don't use my business e-mail for Survol related issues :pray:

[2020-10-31 21:58] NSachida commented on #116
Okay, I wasn't sure if it was okay to suggest that in here, And I don't know how to contact you personally, all good!

[2020-11-11 05:01] Kenya-West opened #155 "Make a version for Microsoft Edge"
Microsoft Edge is the second most used browser on the web, making the browsing experience more flexible, offering many more services for users and optimized for Windows devices.

Now, Microsoft Edge is 99% compatible with Chroimum project and shares same API and most of UX solutions. Apps, websites and extensions running in Microsoft Edge are secured and ready for enterprise insfrastructure, as we

[2020-11-14 11:39] mdolr commented on #155
Hello,

Sorry for the delay I haven't had much time to work on the extension recently. Honestly I'm using chrome and I don't really take time to test features thoroughly on firefox (< 10% of all users), so I'm not really interested in adding a new browser even though it is supposed to be compatible. As an user when I see an extension on a store I assume the developer is testing and maintaining it,

[2020-11-18 14:55] joelazwar commented on #141
hey @mdolr since I saw this wasn't fixed yet, made a quick PR for this issue, #156

[2021-02-13 05:20] Jiang10086 opened #157 "Customizable Wait-Time"
Maybe some users(such as me) don't want to wait 0.75s before preview be showed, they just want get preview more quickly even just some time they hover mouse over links.
For me, I would like to get preview as fast as possible. If author doesn't take it into consideration, I would like to get back to the [version 0.5.4](https://github.com/mdolr/survol/releases/tag/v0.5.4). So, can anybody tell me ho

[2021-02-13 08:41] mdolr commented on #157
Hello @Jiang10086

I haven't been able to work on this project lately because of time, motivation and other issues. I'll try to set this as a parameter and publish a few other changes that are already pushed on the repository (I believe?) but not published.

If you wanted to install an earlier version of the extension you could download the said version from the release page, you can find 0.5.4 [h

[2021-04-07 07:07] Dishavishwakarma commented on #155
Hi @Kenya-West,

Just to add to what you mentioned about publishing Microsoft Edge extensions, if there are any issues developers face with the submission process or if there is anything unclear about how the publishing process, Microsoft Edge extensions team is available to help!

They can be contacted at links mentioned here - https://docs.microsoft.com/en-us/microsoft-edge/extensions-chromium/p

[2022-09-07 12:30] readycool opened #159 "SPF +all mechanism should not be used at survol.me"
A quick dig command `dig survol.me TXT +short` outputs `"v=spf1 +all"`.

Page 54 of [RFC 7208](https://datatracker.ietf.org/doc/rfc7208/) shows this is an all-inclusive mechanism allowing all IP addresses to pass the SPF check. In simple terms, it means malicious actors could spam on behalf of your domain name and therefore [negatively affect domain reputation](https://knowledge.ondmarc.redsift.co

[2022-09-14 13:54] Jiang10086 opened #160 "[Bug] - Make Inoreader hard to load"
**Describe the bug**
When I install the extension and open[ inoreader.com](https://www.inoreader.com/), the webpage hard or unable to load
For instance, when I search feed on [https://www.inoreader.com/search/feeds,
](https://www.inoreader.com/search/feeds), with survol off,  the result load and show instantly, and with survol on, the result don't show until I reload the webpage; when I click the